<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css"/>

</head>

<body>
    <div class="header">
        <a href="/Home/Index">
            <img src="~/img/2.png"
                 height="100">
        </a>
    </div>
    
    <div class="sidebar">
        <p>
            <a class="sidebarLink" href="/Home/Index">
                Главная
            </a>
        </p>
        <p>
            <a class="sidebarLink" href="/Clients/List">
                Клиенты
            </a>
        </p>
        <p>
            <a class="sidebarLink" href="/Orders/List">
                Заказы
            </a>
        </p>
        <p>
            <a class="sidebarLink" href="/Contacts/List">
                Контакты
            </a>
        </p>
    </div>

    <div class="content">
        @RenderBody()
    </div>
    
    <div class="footer">
        <div style="float:left">&copy Права никому не принадлежат. Сделано студентами КНиИТ при поддержке компании SpaceApp.</div>
        <div class="CurrectDateTime" id="current_date_time_block"></div>
    </div>


    
    <script src="~/js/Scripts.js"></script>
</body>

</html>