<form action="#" id="AddClient" method="post" enctype="multipart/form-data">
    <div style="font-weight: 700;
                font-size: 16px;
                margin: 10px">
        <p>
            Заполните форму, чтобы добавить новую запись клиента.
        </p>
    </div>
    <div>
        <p>
            <input Placeholder="Фамилия" tabindex="1" name="MiddleName" type="text" class="form_input _req _name" />
        </p>
    </div>
    <div>
        <p>
            <input Placeholder="Имя" tabindex="2" name="FirstName" type="text" class="form_input _req _name" />
        </p>
    </div>
    <div>
        <p>
            <input Placeholder="Отчество" tabindex="3" name="LastName" type="text" class="form_input _req _name" />
        </p>
    </div>
    <div style="font-weight: 700">
        Дата рождения
    </div>
    <div>
        <input tabindex="4" name="BirthDate" type="date" class="form_input _req" />
    </div>
    <div>
        <button tabindex="5" type="submit" style="float: left">Добавить</button>
        <button tabindex="6" type="reset">Очистить</button>
    </div>
</form>