<form action="#" id="AddClient" method="post" enctype="multipart/form-data">
    <div style="font-weight: 700;
                font-size: 16px;
                margin: 10px">
        <p>
            Заполните форму, чтобы добавить новую запись клиента.
        </p>
    </div>
    <div>
        <p>
            <input Placeholder="Фамилия" tabindex="1" name="MiddleName" type="text" />
        </p>
    </div>
    <div>
        <p>
            <input Placeholder="Имя" tabindex="2" name="FirstName" type="text" />
        </p>
    </div>
    <div>
        <p>
            <input Placeholder="Отчество" tabindex="3" name="LastName" type="text" />
        </p>
    </div>
    <div style="font-weight: 700">
        Дата рождения
    </div>
    <div>
        <input tabindex="4" name="BirthDate" type="date" />
    </div>
    <div>
        <button tabindex="5" type="submit" style="float: left">Добавить</button>
        <button tabindex="6" type="reset">Очистить</button>
    </div>
</form>

<script>

    const form = document.getElementById('AddClient');

    const middleNameInput = document.querySelector('input[name="MiddleName"]');
    const firstNameInput = document.querySelector('input[name="FirstName"]');
    const lastNameInput = document.querySelector('input[name="LastName"]');
    const birthDateInput = document.querySelector('input[name="BirthDate"]');

    form.addEventListener('submit', function (event) {
        event.preventDefault();

        const middleNameScript = middleNameInput.value;
        const firstNameScript = firstNameInput.value;
        const lastNameScript = lastNameInput.value;
        const birthDateScript = birthDateInput.value;


        console.log('Фамилия:', middleNameScript);
        console.log('Имя:', firstNameScript);
        console.log('Отчество:', lastNameScript);
        console.log('Дата рождения:', birthDateScript);

        const client = {
            firstName: firstNameScript,
            middleName: middleNameScript,
            lastName: lastNameScript,
            birthdate: birthDateScript
        };

        fetch('/JScript/AddClient', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(client)
        })
            .then(response => response.json())
            .then(data => {
                console.log('Успешно добавлен клиент:');
                console.log(data);
            })
            .catch(error => {
                console.log('Ошибка при добавлении клиента:');
                console.error(error);
            });
    });
</script>