<form action="#" id="RemoveClient" method="post" enctype="multipart/form-data">
    <div style="font-weight: 700;
                font-size: 16px;
                margin: 10px">
        <p>
            Заполните форму, чтобы удалить существующую запись клиента.
        </p>
    </div>
    <div style="font-weight: 700;
                margin: 10px">
        Введите ID клиента, данные которого вы хотите удалить.
    </div>
    <div>
        <input Placeholder="ID клиента" tabindex="1" name="ClientID" type="text" />
    </div>
    <div>
        <button tabindex="2" type="submit" style="float: left">Удалить</button>
        <button tabindex="3" type="reset">Очистить</button>
    </div>

</form>

<script>

    const form = document.getElementById('RemoveClient');

    const clientIDInput = document.querySelector('input[name="ClientID"]');

    form.addEventListener('submit', function (event) {
        event.preventDefault();

        const clientIDScript = clientIDInput.value;

        console.log('ID клиента для удаления:', clientIDScript);


        fetch('/JScript/RemoveClient', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(clientIDScript)
        })
            .then(response => response.json())
            .then(data => {
                console.log('Успешно удален клиент:');
                console.log(data);
            })
            .catch(error => {
                console.log('Ошибка при удалении клиента:');
                console.error(error);
            });
    });
</script>