<form action="#" id="RemoveOrder" method="post" enctype="multipart/form-data">
    <div style="font-weight: 700;
                font-size: 16px;
                margin: 10px">
        <p>
            Заполните форму, чтобы удалить существующую запись заказа.
        </p>
    </div>
    <div style="font-weight: 700;
                margin: 10px">
        Введите ID заказа, данные которого вы хотите удалить.
    </div>
    <div>
        <input Placeholder="ID заказа" tabindex="1" name="OrderID" type="text" class="form_input _req _num" />
    </div>
    <div>
        <button tabindex="2" type="submit" style="float: left">Удалить</button>
        <button tabindex="3" type="reset">Очистить</button>
    </div>
</form>

<script>

    const form = document.getElementById('RemoveOrder');

    const orderIDInput = document.querySelector('input[name="OrderID"]');

    form.addEventListener('submit', function (event) {
        event.preventDefault();

        const orderIDScript = orderIDInput.value;

        console.log('ID заказа для удаления:', orderIDScript);

        let error = formValidate(form);

        if (error === 0) {
            fetch('/JScript/RemoveOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orderIDScript)
            })
                .then((response) => {
                    if (!response.ok) {
                        return response.json().then((error) => {
                            throw new Error(error.error);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    alert('Заказ успешно удален');
                    console.log('Заказ успешно удален:');
                    console.log(data);
                })
                .catch(error => {
                    alert(error);
                    console.log('Ошибка при удалении заказа:');
                    console.error(error);
                });
        } else {
            alert('Заполните обязательные поля');
        }

        function formValidate(form) {
            let error = 0;
            let formReq = document.querySelectorAll('._req');

            for (let index = 0; index < formReq.length; index++) {
                const input = formReq[index];
                formRemoveError(input);

                if (input.classList.contains('_num')) {
                    if (numTest(input)) {
                        formAddError(input);
                        error++;
                    }
                } else {
                    if (input.value === '') {
                        formAddError(input);
                        error++;
                    }
                }
            }
            return error;
        }

        function formAddError(input) {
            input.parentElement.classList.add('_error');
            input.classList.add('_error');
        }
        function formRemoveError(input) {
            input.parentElement.classList.remove('_error');
            input.classList.remove('_error');
        }
        function numTest(input) {
            return !/^[0-9]+$/.test(input.value);
        }
    });
</script>