<a class="dbLink" href="/Orders/AddRecord" style="float: left">
    Добавить
</a>
<a class="dbLink" href="/Orders/ChangeRecord" style="float: left">
    Изменить
</a>
<a class="dbLink" href="/Orders/DeleteRecord" style="float: left">
    Удалить
</a>

<table>
    <caption style="background-color:white">Список заказов</caption>

    <colgroup>
        <col span="1" style="background-color:lightsteelblue"/>
    </colgroup>

    <thead>
        <tr>
            <th>ID</th>
            <th>ID клиента</th>
            <th width="300px">Описание</th>
            <th>Дата заказа</th>
            <th>Цена</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach(Order Order in Model.allOrders) {
                <tr>
                    @Html.Partial("_SampleOutputOrder", Order)
                </tr>
            }
        }
    </tbody>
</table>