body {
    background: #F0EFFB;
    margin: 0; /* Отступы на странице */

    font: 14px Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
}

a.sidebarLink:link,
a.sidebarLink:visited,
a.sidebarLink:hover,
a.sidebarLink:active {
    text-decoration: none;
    font-weight: 700;
}

a.sidebarLink:link {
    color: #000;
}

a.sidebarLink:visited {
    color: #000;
}

a.sidebarLink:hover {
    font-size: 18px;
    color: #8E3EEA;
}

a.sidebarLink:active {
    font-size: 18px;
    color: #40057F;
}

a.dbLink:link,
a.dbLink:visited,
a.dbLink:hover,
a.dbLink:active {
    display: block;
    border: 2px solid #333;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #293133;
}

a.dbLink:link {
    background: #C3BEFE;
}

a.dbLink:visited {
    background: #C3BEFE;
}

a.dbLink:hover {
    background: #B6B1FC;
}

a.dbLink:active {
    background: #9189FA;
}

table,
caption,
th,
td {
    border: 1px solid grey;
}

table {
    background: white;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

caption {
    font-weight: bold;
    font-size: 18px;
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
}

form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: #CEC9FD;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 0 500px 0 100px;
    padding: 10px;
}

input {
    vertical-align: text-top;
    text-align: left;
    font-size: 16px;
}

button,
button:hover,
button:active {
    display: block;
    border: 2px solid #333;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #293133;
}

button {
    background: #C3BEFE;
}
button:hover {
    background: #B6B1FC;
}
button:active {
    background: #9189FA;
}


.header {
    background: #293133; /* Цвет фона шапки */
    border-radius: 0 0 10px 10px; /* Скругление углов */

    font-size: 42px; /* Размер шрифта заголовка шапки */
    color: #6A5ACD; /* Цвет текста заголовка шапки */
    padding: 10px 10px 5px 10px; /* Поля вокруг текста */
}

.sidebar {
    background: #C3BEFE;
    float: left; /* Обтекание справа */
    border: 2px solid #333; /* Рамка левого меню */
    min-width: 12%; /* Минимальная ширина левой колонки */
    max-width: 20%; /* Максимальная ширина левой колонки */
    min-height: 150px; /* Минимпльная высота колонки */
    max-height: 800px; /* Максимальная высота колонки */
    border-radius: 0 10px 10px 10px; /* Скругление углов */
    margin: 10px 10px 0 5px; /* Значения отступа от блока */

    padding: 5px; /* Поля внутри блока */
    text-align: center;
    font-size: 16px;
}

.content {
    margin: 10px 20px 5px 20%; /* Значения отступа от левого блока */
    height: max-content;
    padding: 5px; /* Поля внутри блока */
}

.footer {
    position: fixed; /* Фиксируем футер внизу окна */
    background: #464451; /* Цвет фона футера */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 5px; /* Поля внутри блока */
    color: #fff; /* Цвет текста футера */
}

.CurrectDateTime {
    position: fixed;
    right: 10px;
    font-weight: 700;
    color: #fff;
}











