<div>
    @{
        foreach (Contact Contact in Model.allContacts) {
            @Html.Partial("_SampleOutputContact", Contact)
            <hr>
        }
    }
</div>

<!--
     style="background: #293133;
            border: 1px solid grey;
            margin: 10px 5px 40px 20%;
            height: max-content;
            padding: 10px;"
-->